.sidebar {
  position: relative;
  z-index: 1;
  top: 0rem;
  left: 0rem;

  min-height: 100%;
  min-width: 5rem;
  width: var(--inner-width);

  display: flex;
  flex-direction: column;

  background-color: rgb(var(--sidebar-bg) / 100%);

  padding-top: 1rem;
  padding-bottom: 1rem;

  justify-content: flex-start;
  align-items: center;

  box-shadow: 10px 0px 10px rgb(16 15 15 / 20%);
}

.sidebar_inner {
  position: fixed;

  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
