body {
  margin: 0rem;
  overflow-x: hidden;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

:root {
  --ucble-primary-light: 255 255 255;
  --ucble-primary-light-off: 203 213 225;
  --ucble-primary-dark: 19 24 38;
  --ucble-primary-dark-off: 55 65 81;

  --ucble-navbar-text-light: 18 24 38;
  --ucble-navbar-text-dark: 209 213 219;
  --ucble-mobile-dropdown-light: 150 162 183;
  --ucble-mobile-dropdown-dark: 24 24 27;
  --ucble-mobile-navbar-link-selected-light: 255 255 255;
  --ucble-mobile-navbar-link-selected-dark: 32 41 54;

  --ucble-project-card-dark: 12 14 24;
  --ucble-project-card-light: 230 230 230;
  --ucble-project-card-r-bg-light: 0 0 0;
  --ucble-project-card-r-bg-dark: 255 255 255;
  --ucble-project-card-icon-hover-light: 75 75 75;
  --ucble-project-card-icon-hover-dark: 200 200 200;
  --uclbe-project-card-button-hover-light: 75 75 75;
  --uclbe-project-card-button-hover-dark: 255 255 255;

  --primary: var(--ucble-primary-light);
  --primary-negativ: var(--ucble-primary-dark);
  --primary-off: var(--ucble-primary-light-off);
  --primary-negativ-off: var(--ucble-primary-dark-off);

  --navbar-hover: 56 65 80;
  --mobile-navbar-link-selected: var(--ucble-mobile-navbar-link-selected-light);
  --navbar-text: var(--ucble-navbar-text-light);
  --mobile-dropdown: var(--ucble-mobile-dropdown-light);

  --project-card: var(--ucble-project-card-light);
  --project-card-r-bg: var(--ucble-project-card-r-bg-light);
  --project-card-icon-hover: var(--ucble-project-card-icon-hover-light);
  --project-card-button-hover: var(--uclbe-project-card-button-hover-light);

  --border-rounded-sm: 0.125rem;
  --border-rounded-md: 0.375rem;
  --border-rounded-lg: 0.5rem;
  --border-rounded-xl: 0.75rem;
  --border-rounded-2xl: 1rem;
  --border-rounded-3xl: 1.5rem;
  --border-rounded-full: 9999px;

  --text-xs-font-size: 0.75rem;
  --text-sm-font-size: 0.875rem;
  --text-md-font-size: 1rem;
  --text-lg-font-size: 1.125rem;
  --text-xl-font-size: 1.25rem;
  --text-2xl-font-size: 1.5rem;
  --text-3xl-font-size: 1.875rem;
  --text-4xl-font-size: 2.25rem;
  --text-5xl-font-size: 3rem;
  --text-6xl-font-size: 3.75rem;
  --text-7xl-font-size: 4.5rem;
  --text-8xl-font-size: 6rem;
  --text-9xl-font-size: 8rem;

  --text-xs-line-height: 1rem;
  --text-sm-line-height: 1.25rem;
  --text-md-line-height: 1.5rem;
  --text-lg-line-height: 1.75rem;
  --text-xl-line-height: 1.75rem;
  --text-2xl-line-height: 2rem;
  --text-3xl-line-height: 2.25rem;
  --text-4xl-line-height: 2.5rem;
  --text-5xl-line-height: 1;
  --text-6xl-line-height: 1;
  --text-7xl-line-height: 1;
  --text-8xl-line-height: 1;
  --text-9xl-line-height: 1;

  --mobile: 0px;
  --sm: 640px;
  --lg: 1024px;
  --xl: 1536px;
}

[theme='dark'] {
  --primary: var(--ucble-primary-dark);
  --primary-negativ: var(--ucble-primary-light);
  --primary-off: var(--ucble-primary-dark-off);
  --primary-negativ-off: var(--ucble-primary-light-off);

  --navbar-text: var(--ucble-navbar-text-dark);
  --mobile-navbar-link-selected: var(--ucble-mobile-navbar-link-selected-dark);
  --mobile-dropdown: var(--ucble-mobile-dropdown-dark);

  --project-card: var(--ucble-project-card-dark);
  --project-card-r-bg: var(--ucble-project-card-r-bg-dark);
  --project-card-icon-hover: var(--ucble-project-card-icon-hover-dark);
  --project-card-button-hover: var(--uclbe-project-card-button-hover-dark);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
