@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'QUICKSAND_BOLD';
  src: url('../../public/fonts/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'QUICKSAND_LIGHT';
  src: url('../../public/fonts/Quicksand-Light.ttf');
}

@font-face {
  font-family: 'QUICKSAND_MEDIUM';
  src: url('../../public/fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'QUICKSAND_REGULAR';
  src: url('../../public/fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'QUICKSAND_SEMIBOLD';
  src: url('../../public/fonts/Quicksand-SemiBold.ttf');
}
