@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.main {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  align-items: center;

  min-width: 100vw;
  min-height: 100vh;

  background-color: rgb(var(--primary) / 100%);

  color: rgb(var(--primary-negativ-off) / 100%);
}

.sub {
  flex: auto;

  margin-left: 10vw;
  margin-right: 10vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 5vw;

  margin-left: 10vw;
  margin-right: 10vw;

  /* background-color: red; */
}

.magic {
  display: inline-block;
  position: relative;
}

.magic_text {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);

  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  white-space: nowrap;

  animation: background-pan 4s linear infinite;
}

.footer_text {
  font-size: medium;
}

.footer_link {
  color: rgb(70 126 236 / 100%);
}
