.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-width: 100vw;
  min-height: 34vh;
  background-color: rgb(var(--primary) / 100%);

  color: rgb(var(--primary-negativ) / 100%);
  font-size: 2.5rem;
}
