.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: white;

  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.project_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 65rem;

  gap: 0.5rem;
}

.project_wrapper > .project {
  width: 20rem;
  height: 15rem;
}

.project {
  position: relative;
  border-radius: var(--border-rounded-xl);

  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.02);
}

.project_wrapper:hover > .project > .project_border {
  opacity: 100%;
}

.project:hover::before {
  opacity: 100%;
}

.project::before,
.project_border {
  position: absolute;

  border-radius: inherit;
  content: '';

  height: 100%;
  width: 100%;

  left: 0rem;
  top: 0rem;

  z-index: 2;

  opacity: 0%;
  transition: opacity 600ms;
}

.project::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );

  z-index: 3;
}

.project_border {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );

  z-index: 1;
}

.project_content {
  position: relative;

  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: 1px;

  background-color: rgb(var(--project-card) / 100%);
  border-radius: inherit;

  z-index: 2;
}
