.nav_title {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.logo {
  padding-top: 1rem;
  height: 2.5rem;

  fill: white;

  width: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  background-color: rgb(6, 55, 115);

  padding-left: 1rem;
  padding-right: 1rem;
}

.main {
  margin: 1rem;
}

.btn_area {
  margin-top: 1rem;

  background-color: black;
  height: 10rem;
}

.results_area {
  width: 100%;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 0.5rem;
}
