.navbar {
  position: absolute;
  min-width: 100vw;
  height: 4rem;
}

.mobile_navbar_img {
  position: absolute;
  width: 2.75rem;
  top: 1rem;

  margin-left: -1.375rem;
  left: 50%;

  height: auto;
}

.desktop_navbar_img {
  width: auto;
  height: 2rem;
}
