@tailwind components;
@tailwind utilities;

@layer components {
  .blur_gradient {
    @apply rotate-45
        
        absolute
        z-10

        -right-96
       
        h-32 w-[60rem]
        rounded-full
        blur-3xl opacity-40
        bg-gradient-to-r from-sky-300 to-cyan-600;
  }

  .profile_gradient {
    @apply rotate-12

        absolute
        z-10

        hidden
        sm:block

        sm:mt-32 sm:-ml-[28rem] sm:mr-0 sm:inset-x-96
        lg:mt-52 lg:-ml-[40rem] lg:mr-0 lg:inset-x-[38rem]
        2xl:mt-52 2xl:-ml-[70rem] 2xl:mr-0 2xl:inset-x-[60rem]
        
        h-16
        rounded-r-full
        bg-gradient-to-tr from-pink-600 to-purple-800;
  }
}
