@tailwind components;
@tailwind utilities;

@layer components {
  .welcome_text {
    @apply mt-10 mx-5
        sm:mx-0 sm:mr-5 sm:mt-10
        lg:mx-0 lg:mr-5 lg:mt-20

        max-w-3xl
        outline outline-gray-600 outline-1 outline-offset-0
        backdrop-blur-xl
        bg-gray-800 bg-opacity-25;
  }

  .page {
    @apply relative
        z-20
        grid
        grid-cols-1
        sm:grid-cols-3;
  }
}
