@use '@s/globals.module.scss' as g;
@use './basic_layout.module.css';

@media all and (min-width: g.$mobile) {
  .top_wrapper {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-bottom: 5rem;
  }

  .top_wrapper > * {
    text-align: left;
  }

  .top_information {
    text-align: right;
  }
}

@media all and (min-width: g.$sm) {
  .top_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-bottom: 0rem;
  }
}
