@use '@s/globals.module.scss' as g;
@use './main.module.css';

@media all and (min-width: g.$mobile) {
  .navbar {
    display: flex;

    align-items: center;
    justify-items: center;

    background-color: none;
  }

  .left {
    display: block;

    flex-grow: 1;
  }

  .left_mobile {
    display: block;
  }

  .left_desktop {
    display: none;
  }

  .middle {
    display: block;

    flex-grow: 1;
  }

  .right {
    display: none;
  }
}

@media all and (min-width: g.$sm) {
  .navbar {
    display: flex;
    background-color: rgb(var(--primary-off) / 50%);
    // background-color: red;
  }

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;
  }

  .left_mobile {
    display: none;
  }

  .left_desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;
    margin-left: 2rem;
  }

  .middle {
    display: none;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;

    flex-grow: 1;
  }
}
